body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
}

header{
    color:black;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    justify-content: space-between;
    margin: 1% 7.5% 0 5%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

header span{
    color: #51D2BC;
}

.title-container{
    display: flex;
    flex-direction: row;
    margin: 0 5% 0 5%;
    height: 4rem;
}

.back-button{
    margin-right: 2rem;
    padding: 0;
    height: 48px;
    width: 48px;
    align-self: center;
    border-radius: 15px;
    background-color: #4E4438;
}

h2{
    margin: 0;
    font-size: 2.5rem;
}

.base-container{
    display: flex;
    flex-direction: column;
    margin: 0 5% 0 7.5%;
    height: 65vh;
}

.element{
    margin-top: 1rem;
}

.import-container{
    display: flex;
    flex-direction: row;
}

#import-button{
    background-color: #EAEAEA;
    color: #808080;
    border:none;
    border-radius: 50px;
    font-size: 1.25rem;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 7rem;
}

.import{
    margin-right: 5rem;
}

select{
    border-radius: 15px;
    border: none;
    font-size: 1.75rem;
    background-color: #F6F6F6;
    color: #757575;
}

input{
    border: none;
    border-bottom: 1px solid #969696;
    font-size: 1.75rem;
    width: 45%;
    background-color: #F6F6F6;
}

.term-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60%;
}

.term-container{
    overflow: auto;
    width: 95%;
    height: 100%;
}

.single-term{
    margin-top: 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#save{
    background-color: #51D2BC;
    color: #F6F6F6;
    border: none;
    border-radius: 50px;
    width: 7rem;
    height: 2.25rem;
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.25rem;
    margin-top: 1rem;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
    margin-left: 2.5%;
    align-self: flex-start;
}

#addFlashcard{
    background-color: #4E4438;
    color: #F6F6F6;
    margin-top: 1rem;
    border-radius: 40px;
    width: 15rem;
    height: 2.25rem;
    line-height: 2.25rem;
    font-size: 1.5rem;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
    align-self: center;
}


@media only screen and (max-device-width: 420px) {
    body{
        height: 100vh;
    }
    
    h1{
        margin: 0;
    }

    header{
        margin: 2rem auto 1rem auto;
    }
    header img{
        display: none;
    }

    #save{
        align-self: center;
        justify-self: center;
        margin-left: 0;
    }

    input{
        font-size: 1.25rem;
    }

    select{
        font-size: 1.25rem;
        width: 100%;
    }
    #title{
        width: 90%;
    }

    .base-container{
        height: 100%;
    }
}