body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
}

header{
    color:black;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    justify-content: space-between;
    margin: 1% 7.5% 0 5%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

header span{
    color: #51D2BC;
}

.menu{
    display: flex;
    flex-direction: row;
    margin: 0 5% 0 5%;
}

.menu-button{
    margin-right: 2rem;
    padding: 0;
    height: 48px;
    width: 48px;
    align-self: center;
    border-radius: 15px;
    background-color: #4E4438;
}

.base-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5% 0 5%;
    height: 70vh;
}

.setName{
    font-size: 2.5rem;
    font-weight: bold;
    width: 70%;
    height: 6.5rem;
    overflow: hidden;
    line-height: 2.75rem;
    margin-bottom: 1rem;
}

.flashcard-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.flashcard{
    background-color: #4E4438;
    width: 500px;
    height: 500px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbutton{
    height: 75%;
    width: 15%;
    text-align: center;
}

.navbutton button{
    height: 100%;
    font-size: 2rem;
    background-color: #4E4438;
    border-radius: 60px;
    border: none;
    
}

.middle{
    color:#F6F6F6;
    display: flex;
    width: 60%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0 2rem 0;

}

.flipper{
    background-color: #4E4438;
    height: 2rem;
    width: 10rem;
    border: none;
    border-radius: 20px;
    color: #F6F6F6;
    font-size: 1.25rem;
    line-height: 2rem;
}

.text{
    height: 60%;
    width: 90%;
    overflow-y: auto;
    word-wrap: break-word;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

@media only screen and (max-device-width: 420px) {
    .base-container{
        margin: 0;
    }

    h1{
        margin: 2rem 0 1rem 0;
    }

    header img{
        display: none;
    }

    .flashcard-container{
        width: 100%;
        height: 70%;
        
    }

    .flashcard{
        background-color: #4E4438;
        width: 100%;
        height: 100%;
    }

    .setName{
        font-size: 1.5rem;
        width: 80%;
        line-height: 1.75rem;
        height: 6rem;
    }

    .navbutton{
        height: 75%;
        width: 15%;
        text-align: center;
    }
    .react-card-flip{
        width: 90%;
    }
    .text{
        font-size: 1.25rem;
    }
}